.grey {
  margin-top: 30px;
}

.back-color {
  background-color: #fff2e6;
}

#mar_img {
  margin-top: 20px;
}

h1 {
  font-family: Lobster, Monospace;
}

ul {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}
